<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="../css/jquery.dataTables.css">
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="../js/jquery.js"></script>
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="../js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="../js/apilist.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="page-header el-page-header J-subnav-head">
					<h1 class="pull-left">
						<span>API 接口文档</span>
					</h1>
					<div class="pull-right el-pull-right">
						<div class="el-button" id = "addButton" style = " margin-top: 20px;">
							<button type="button" class="btn btn-primary" onclick=add()>新增</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container " style="margin-top:20px">
		<div class="row J-grid">
			<table id="api" class="display " cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>项目</th>
						<th>名称</th>
						<th>编号</th>
						<th>操作</th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="row J-form  hidden">
			<form class="form-horizontal" method="post" action="save" id = "paramsForm">
				<div class="form-group col-md-6">
					<label class="col-sm-4 control-label">项目</label>
					<div class="col-sm-8">
						<select name = "project" id="project" class="form-control required">
							<option class="form-control"value="政府补贴平台">政府补贴平台</option>
						</select>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="col-sm-4 control-label">请求方式</label>
					<div class="col-sm-8">
						<select name = "type" id="type" class="form-control">
							<option value="POST">POST</option>
							<option value="GET">GET</option>
						</select>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="name" class="col-sm-4 control-label">名称</label>
					<div class="col-sm-8">
						<input type="text" class="form-control required" name = "name" id="name" placeholder="名称">
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="code" class="col-sm-4 control-label">编码</label>
					<div class="col-sm-8">
						<input type="text" class="form-control required" name = "code" id="code" placeholder="编码">
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="uri" class="col-sm-4 control-label">地址</label>
					<div class="col-sm-8">
						<input type="text" class="form-control required" name = "uri" id="uri" placeholder="地址">
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="discription" class="col-sm-4 control-label">描述</label>
					<div class="col-sm-8">
						<input type="text" class="form-control required" name = "discription" id="discription" placeholder="描述">
					</div>
				</div>
				<div class="form-group ">
					<label for="exampleUri" class="col-sm-2 control-label">请求参数</label>
					<div class="col-sm-9">
						<div class = "row">
							<div class="col-sm-offset-10">
							<button type="button" onclick=addParams() class="btn btn-primary">增加</button>
							</div>
						</div>
						<div class = "row">
							<table id = "params" class = "table table-bordered" style= "margin-top:5px;margin-left: 15px;">
								<thead>
									<tr>
										<th class = "col-md-3">名称</th>
										<th class = "col-md-3">类型</th>
										<th class = "col-md-3">例子</th>
										<th class = "col-md-3">操作</th>
									</tr>
								</thead>
								<tbody id = "paramstbody">
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="form-group ">
					<label for="exampleUri" class="col-sm-2 control-label">请求示例</label>
					<div class="col-sm-9">
						<input type="text" class="form-control required" name = "exampleUri" id="exampleUri" placeholder="请求示例">
					</div>
				</div>
				<div class="form-group ">
					<label for="result" class="col-sm-2 control-label">返回结果</label>
					<div class="col-sm-9">
						<textarea  class="form-control required" name = "result" id="result" placeholder="返回结果"></textarea>
					</div>
				</div>
				<div class="form-group ">
					<div class="col-sm-offset-2 col-sm-8">
						<button type="button" class="btn btn-primary" onclick = save() >保存</button>
						<button type="button" class="btn btn-default" onclick = list()>返回</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class = "hidden">
		<table id = "example">
			<tr class = "Api-params">
				<td>
					<input type="text" class="form-control required" name = "paramsName" placeholder="参数名称">
				</td>
				<td>
					<select class = "form-control" name = "paramsType">
						<option value = "String">String</option>
						<option value = "Integer">Integer</option>
						<option value = "Double">Double</option>
					</select>
				</td>
				<td>
					<input type="text" class="form-control required" name = "exampleParams"  placeholder="例子">
				</td>
				<td>
					<button type="button" class="btn btn-primary" onclick=removeParams() >删除</button>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>